.container{
  max-width: 75%;
  max-height: 100%;
  border-radius: 10px;
    border: 2px solid #1de7e7;
   padding-bottom: 20px; 
margin-bottom: 50px;
}
h1,
h2 {
  text-align: center;
  margin-top: 40px;
}
h1 {
  font-weight: 100;
}
.citySearch {
  
  border-radius: 10px;

  border: 1px solid #8820b8;
  padding: 10px;
  font-size: 15px;
  color: #1de7e7;
}
.citySearch :hover {
  background-color: #0d0a0e;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  box-shadow: 2px 2px 2px #259ad5;
}
p {
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #259ad5;
  margin: 20px;
  color: #fff;
}
.row {
  text-align: center;
  font-size: 25px;
}
.weather {
  color: #8820b8;
  margin-top: 40px;
  font-size: 50px;
}
.city {
  font-size: 70px;
  color: #8820b8;
  margin-bottom: 30px;
  text-transform: capitalize;
}
#today {
  font-size: 20px;
  color: #8820b8;
}

p>a {
  color: #fff;

}