.container{
 
  border-radius: 10px;
    border: 2px solid #1de7e7;
   padding-bottom: 20px; 
margin-bottom: 50px;
background: linear-gradient(68.6deg, rgb(252, 165, 241) 1.8%, rgb(181, 255, 255) 100.5%);
}
h1,
h2 {
  text-align: center;
  margin-top: 40px;
  color: #8820b8;
  font-weight: lighter;
}
h1 {
  font-weight: 100;
}
.citySearch {
box-shadow: 2px 2px 2px #259ad5;
  border-radius: 10px;
  font-size: 30px;

  border: 1px solid #259ad5;
  padding: 10px;
  font-size: 15px;
  color: #1de7e7;
}
.citySearch:hover{
  box-shadow:none;
}

p {
  text-align: center;
  font-size: 17px;
  padding: 10px;
  background: #259ad5;
  margin: 20px;
  color: #fff;
}

.weather {
  color: #8820b8;
  font-size: 50px;

}

input.col-2.button.fs-4:hover{
background-color: #259ad5;
  transition: all 200ms ease-in-out;
  cursor: pointer;

}
.city {
  font-size: 70px;
  color: #8820b8;
  text-transform: capitalize;
}
#today {
  font-size: 50px;
  color: #8820b8;
}

p>a {
  color: #fff;

}
